<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {
    		width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";
		}
	</style>
	<link rel="stylesheet" href="/static/plugins/bootstrap-4.6.1-dist/css/bootstrap.css">
    <link rel="shortcut icon" href="/static/images/icons/bootstrap.svg">
    <script src="/static/plugins/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="/static/plugins/popper.js-1.16.1/dist/umd/popper.min.js"></script>
    <script src="/static/plugins/bootstrap-4.6.1-dist/js/bootstrap.bundle.js"></script>
	<!--导入百度地图GL1.0API-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?type=webgl&v=1.0&ak=B8DdZoQ1H1zXnblRt0aG1614Om1zw3f9"></script>
	<title>白洋淀卫星云图</title>
</head>
<body>
{% if not user %}
	{% include "./../login.html" %}
{% else %}
	<div class="container-fluid"></div>
		{% include "./other_menu.html" %}
		<div id="allmap"></div>
{% endif %}
</body>
</html>
<script type="text/javascript">
    // GL版命名空间为BMapGL
	var map = new BMapGL.Map("allmap");    // 创建Map实例
	var opts1 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "南刘庄" , // 信息窗口标题
	}
	var opts2 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "烧车淀" , // 信息窗口标题
	}
	var opts3 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "圈头" , // 信息窗口标题
	}
	var opts4 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "采蒲台" , // 信息窗口标题
	}
	var opts5 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "光淀张庄" , // 信息窗口标题
	}
	var opts6 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "枣林庄" , // 信息窗口标题
	}
	var opts7 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "端村" , // 信息窗口标题
	}
	var opts8 = {
	    width : 200,     // 信息窗口宽度
	    height: 100,     // 信息窗口高度
	    title : "鸪丁淀" , // 信息窗口标题
	}
	var marker1 = new BMapGL.Marker(new BMapGL.Point(115.9458, 38.9037));
	var marker2 = new BMapGL.Marker(new BMapGL.Point(115.9999, 38.9420));
	var marker3 = new BMapGL.Marker(new BMapGL.Point(116.0307, 38.8625));
	var marker4 = new BMapGL.Marker(new BMapGL.Point(116.0100, 38.8269));
	var marker5 = new BMapGL.Marker(new BMapGL.Point(116.0302, 38.9004));
	var marker6 = new BMapGL.Marker(new BMapGL.Point(116.0896, 38.8972));
	var marker7 = new BMapGL.Marker(new BMapGL.Point(115.9500, 38.8500));
	var marker8 = new BMapGL.Marker(new BMapGL.Point(115.8442, 38.9174));
	map.addOverlay(marker1);
	map.addOverlay(marker2);
	map.addOverlay(marker3);
	map.addOverlay(marker4);
	map.addOverlay(marker5);
	map.addOverlay(marker6);
	map.addOverlay(marker7);
	map.addOverlay(marker8);
	marker1.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:115.9458，纬度:38.9037", opts1),
				new BMapGL.Point(115.9458, 38.9037)); //开启信息窗口
	});
	marker2.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:115.9999，纬度:38.9420", opts2),
				new BMapGL.Point(115.9999, 38.9420)); //开启信息窗口
	});
	marker3.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:116.0307，纬度:38.8625", opts3),
				new BMapGL.Point(116.0307, 38.8625)); //开启信息窗口
	});
	marker4.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:116.0100，纬度:38.8269", opts4),
				new BMapGL.Point(116.0100, 38.8269)); //开启信息窗口
	});
	marker5.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:116.0302，纬度:38.9004", opts5),
				new BMapGL.Point(116.0302, 38.9004)); //开启信息窗口
	});
	marker6.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:116.0896，纬度:38.8972", opts6),
				new BMapGL.Point(116.0896, 38.8972)); //开启信息窗口
	});
	marker7.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:115.9500，纬度:38.8500", opts7),
				new BMapGL.Point(115.9500, 38.8500)); //开启信息窗口
	});
	marker8.addEventListener("click", function(){
		map.openInfoWindow(new BMapGL.InfoWindow("经度:115.8442，纬度:38.9174", opts8),
				new BMapGL.Point(115.8442, 38.9174)); //开启信息窗口
	});
	map.centerAndZoom(new BMapGL.Point(115.952385,38.886802), 13);  // 初始化地图,设置中心点坐标和地图级别
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	map.setMapType(BMAP_EARTH_MAP);      // 设置地图类型为地球模式
</script>