<!DOCTYPE html>
<html lang="zh-CN">
<head>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="concept">监测数据与相关概念 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="data">监测数据关联分析 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="standard">水质标准关联分析 </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        其它
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="earthMap">白洋淀卫星云图</a>
                        <a class="dropdown-item" href="suggestion">白洋淀未来生态发展建议</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="admin">数据库管理</a>
                        <a class="dropdown-item" href="logout">注销</a>
                    </div>
                </li>
            </ul>
            <div class="float-right text-white">欢迎您！用户{{user}}</div>
        </div>
    </nav>
</body>
</html>
<script>

</script>