<table class="table table-sm table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">规则先导项</th>
            <th scope="col">规则后继项</th>
            <th scope="col">规则先导项支持度</th>
            <th scope="col">规则后继项支持度</th>
            <th scope="col">支持度</th>
            <th scope="col">置信度</th>
            <th scope="col">提升度</th>
            <th scope="col">杠杆率</th>
            <th scope="col">确信度</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>B</td>
            <td>0.49</td>
            <td>0.62</td>
            <td>0.47</td>
            <td>0.95</td>
            <td>1.53</td>
            <td>0.16</td>
            <td>8.31</td>
        </tr>
        <tr>
            <td>X</td>
            <td>Y</td>
            <td>0.30</td>
            <td>0.68</td>
            <td>0.28</td>
            <td>0.93</td>
            <td>1.37</td>
            <td>0.07</td>
            <td>4.35</td>
        </tr>
    </tbody>
</table>