<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="35ace50e06794e64a9eda3fd5eb62eef" class="chart-container" style="width:1200px; height:600px;"></div>
    <script>
        var chart_35ace50e06794e64a9eda3fd5eb62eef = echarts.init(
            document.getElementById('35ace50e06794e64a9eda3fd5eb62eef'), 'white', {renderer: 'canvas'});
        var option_35ace50e06794e64a9eda3fd5eb62eef = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u9891\u7e41\u9879\u96c6",
            "legendHoverLink": true,
            "data": [
                0.68,
                0.62,
                0.49,
                0.47,
                0.36,
                0.3,
                0.3,
                0.29,
                0.28
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u9891\u7e41\u9879\u96c6"
            ],
            "selected": {
                "\u9891\u7e41\u9879\u96c6": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u9891\u7e41\u9879\u96c6",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 30,
                "margin": 8,
                "fontSize": 13
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u603b\u6c2e",
                "COD",
                "\u9ad8\u9530\u9178\u76d0",
                "\u9ad8\u9530\u9178\u76d0, COD",
                "\u603b\u6c2e, COD",
                "\u603b\u78f7",
                "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e",
                "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                "\u603b\u6c2e, \u603b\u78f7"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u652f\u6301\u5ea6",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u9891\u7e41\u9879\u96c6\u67f1\u72b6\u56fe",
            "subtext": "min_support=0.2",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_35ace50e06794e64a9eda3fd5eb62eef.setOption(option_35ace50e06794e64a9eda3fd5eb62eef);
    </script>
</body>
</html>
