<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="9e3c290ac000461d90d945ba501285fd" class="chart-container" style="width:1000px; height:600px;"></div>
    <script>
        var chart_9e3c290ac000461d90d945ba501285fd = echarts.init(
            document.getElementById('9e3c290ac000461d90d945ba501285fd'), 'white', {renderer: 'canvas'});
        var option_9e3c290ac000461d90d945ba501285fd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "circular",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0.3,
                "type": "solid",
                "color": "source"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "\u2163\u7c7b",
                    "fixed": false,
                    "value": 0.57,
                    "category": 0,
                    "symbolSize": 113.99999999999999
                },
                {
                    "name": "\u603b\u6c2e",
                    "fixed": false,
                    "value": 0.42,
                    "category": 0,
                    "symbolSize": 84.0
                },
                {
                    "name": "\u2164\u7c7b",
                    "fixed": false,
                    "value": 0.19,
                    "category": 0,
                    "symbolSize": 38.0
                },
                {
                    "name": "\u2162\u7c7b",
                    "fixed": false,
                    "value": 0.19,
                    "category": 0,
                    "symbolSize": 38.0
                },
                {
                    "name": "\u2162\u7c7b, \u603b\u6c2e",
                    "fixed": false,
                    "value": 0.16,
                    "category": 1,
                    "symbolSize": 32.0
                },
                {
                    "name": "\u603b\u6c2e, \u2163\u7c7b",
                    "fixed": false,
                    "value": 0.14,
                    "category": 1,
                    "symbolSize": 28.000000000000004
                }
            ],
            "categories": [
                {
                    "name": "\u9891\u7e411-\u9879\u96c6"
                },
                {
                    "name": "\u9891\u7e412-\u9879\u96c6"
                },
                {
                    "name": "\u9891\u7e413-\u9879\u96c6"
                },
                {
                    "name": "\u9891\u7e414-\u9879\u96c6"
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                "",
                "arrow"
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "\u2163\u7c7b",
                    "target": "\u603b\u6c2e, \u2163\u7c7b",
                    "value": 1
                },
                {
                    "source": "\u603b\u6c2e",
                    "target": "\u2162\u7c7b, \u603b\u6c2e",
                    "value": 2
                },
                {
                    "source": "\u603b\u6c2e",
                    "target": "\u603b\u6c2e, \u2163\u7c7b",
                    "value": 3
                },
                {
                    "source": "\u2162\u7c7b",
                    "target": "\u2162\u7c7b, \u603b\u6c2e",
                    "value": 4
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "\u9891\u7e411-\u9879\u96c6",
                "\u9891\u7e412-\u9879\u96c6",
                "\u9891\u7e413-\u9879\u96c6",
                "\u9891\u7e414-\u9879\u96c6"
            ],
            "selected": {
                "\u9891\u7e411-\u9879\u96c6": true,
                "\u9891\u7e412-\u9879\u96c6": true,
                "\u9891\u7e413-\u9879\u96c6": true,
                "\u9891\u7e414-\u9879\u96c6": true
            },
            "show": true,
            "left": "2%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u9891\u7e41\u9879\u96c6\u5173\u7cfb\u56fe",
            "subtext": "min_support=0.1",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_9e3c290ac000461d90d945ba501285fd.setOption(option_9e3c290ac000461d90d945ba501285fd);
    </script>
</body>
</html>
