<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="39404d343565471f8f87b17a250372c2" class="chart-container" style="width:1000px; height:600px;"></div>
    <script>
        var chart_39404d343565471f8f87b17a250372c2 = echarts.init(
            document.getElementById('39404d343565471f8f87b17a250372c2'), 'white', {renderer: 'canvas'});
        var option_39404d343565471f8f87b17a250372c2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "circular",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 4000,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0.3,
                "type": "solid",
                "color": "source"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "\u603b\u6c2e",
                    "fixed": false,
                    "value": 0.68,
                    "category": 0,
                    "symbolSize": 34.0
                },
                {
                    "name": "COD",
                    "fixed": false,
                    "value": 0.62,
                    "category": 0,
                    "symbolSize": 31.0
                },
                {
                    "name": "\u9ad8\u9530\u9178\u76d0",
                    "fixed": false,
                    "value": 0.49,
                    "category": 0,
                    "symbolSize": 24.5
                },
                {
                    "name": "\u9ad8\u9530\u9178\u76d0, COD",
                    "fixed": false,
                    "value": 0.47,
                    "category": 1,
                    "symbolSize": 23.5
                },
                {
                    "name": "\u603b\u6c2e, COD",
                    "fixed": false,
                    "value": 0.36,
                    "category": 1,
                    "symbolSize": 18.0
                },
                {
                    "name": "\u603b\u78f7",
                    "fixed": false,
                    "value": 0.3,
                    "category": 0,
                    "symbolSize": 15.0
                },
                {
                    "name": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e",
                    "fixed": false,
                    "value": 0.3,
                    "category": 1,
                    "symbolSize": 15.0
                },
                {
                    "name": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "fixed": false,
                    "value": 0.29,
                    "category": 2,
                    "symbolSize": 14.499999999999998
                },
                {
                    "name": "\u603b\u6c2e, \u603b\u78f7",
                    "fixed": false,
                    "value": 0.28,
                    "category": 1,
                    "symbolSize": 14.000000000000002
                }
            ],
            "categories": [
                {
                    "name": "\u9891\u7e411-\u9879\u96c6"
                },
                {
                    "name": "\u9891\u7e412-\u9879\u96c6"
                },
                {
                    "name": "\u9891\u7e413-\u9879\u96c6"
                },
                {
                    "name": "\u9891\u7e414-\u9879\u96c6"
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                "",
                "arrow"
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "\u603b\u6c2e",
                    "target": "\u603b\u6c2e, COD",
                    "value": 1
                },
                {
                    "source": "\u603b\u6c2e",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e",
                    "value": 2
                },
                {
                    "source": "\u603b\u6c2e",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "value": 3
                },
                {
                    "source": "\u603b\u6c2e",
                    "target": "\u603b\u6c2e, \u603b\u78f7",
                    "value": 4
                },
                {
                    "source": "COD",
                    "target": "\u9ad8\u9530\u9178\u76d0, COD",
                    "value": 5
                },
                {
                    "source": "COD",
                    "target": "\u603b\u6c2e, COD",
                    "value": 6
                },
                {
                    "source": "COD",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "value": 7
                },
                {
                    "source": "\u9ad8\u9530\u9178\u76d0",
                    "target": "\u9ad8\u9530\u9178\u76d0, COD",
                    "value": 8
                },
                {
                    "source": "\u9ad8\u9530\u9178\u76d0",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e",
                    "value": 9
                },
                {
                    "source": "\u9ad8\u9530\u9178\u76d0",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "value": 10
                },
                {
                    "source": "\u9ad8\u9530\u9178\u76d0, COD",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "value": 11
                },
                {
                    "source": "\u603b\u6c2e, COD",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "value": 12
                },
                {
                    "source": "\u603b\u78f7",
                    "target": "\u603b\u6c2e, \u603b\u78f7",
                    "value": 13
                },
                {
                    "source": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e",
                    "target": "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e, COD",
                    "value": 14
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "\u9891\u7e411-\u9879\u96c6",
                "\u9891\u7e412-\u9879\u96c6",
                "\u9891\u7e413-\u9879\u96c6",
                "\u9891\u7e414-\u9879\u96c6"
            ],
            "selected": {
                "\u9891\u7e411-\u9879\u96c6": true,
                "\u9891\u7e412-\u9879\u96c6": true,
                "\u9891\u7e413-\u9879\u96c6": true,
                "\u9891\u7e414-\u9879\u96c6": true
            },
            "show": true,
            "left": "2%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5173\u8054\u89c4\u5219\u5173\u7cfb\u56fe",
            "subtext": "min_support=0.2",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_39404d343565471f8f87b17a250372c2.setOption(option_39404d343565471f8f87b17a250372c2);
    </script>
</body>
</html>
