<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="a550d166179d4890a2a6172c1d76a776" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a550d166179d4890a2a6172c1d76a776 = echarts.init(
            document.getElementById('a550d166179d4890a2a6172c1d76a776'), 'white', {renderer: 'canvas'});
        var option_a550d166179d4890a2a6172c1d76a776 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u91c7\u84b2\u53f0",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2019-01",
                    "0.22"
                ],
                [
                    "2019-02",
                    "0.06"
                ],
                [
                    "2019-03",
                    "0.12"
                ],
                [
                    "2019-04",
                    "0.14"
                ],
                [
                    "2019-05",
                    "0.05"
                ],
                [
                    "2019-06",
                    "0.10"
                ],
                [
                    "2019-07",
                    "0.08"
                ],
                [
                    "2019-08",
                    "0.10"
                ],
                [
                    "2019-09",
                    "1.01"
                ],
                [
                    "2019-10",
                    "0.34"
                ],
                [
                    "2019-11",
                    "0.15"
                ],
                [
                    "2019-12",
                    "0.18"
                ],
                [
                    "2020-01",
                    "0.07"
                ],
                [
                    "2020-02",
                    "0.23"
                ],
                [
                    "2020-03",
                    "0.07"
                ],
                [
                    "2020-04",
                    "0.03"
                ],
                [
                    "2020-05",
                    "0.02"
                ],
                [
                    "2020-06",
                    "0.03"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "end",
                    "margin": 8
                },
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "dotted",
                    "color": "#CC0033"
                },
                "data": [
                    {
                        "yAxis": 1.0
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5149\u6dc0\u5f20\u5e84",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2019-01",
                    "0.16"
                ],
                [
                    "2019-02",
                    "0.14"
                ],
                [
                    "2019-03",
                    "0.30"
                ],
                [
                    "2019-04",
                    "0.51"
                ],
                [
                    "2019-05",
                    "0.12"
                ],
                [
                    "2019-06",
                    "0.15"
                ],
                [
                    "2019-07",
                    "0.25"
                ],
                [
                    "2019-08",
                    "0.17"
                ],
                [
                    "2019-09",
                    "0.09"
                ],
                [
                    "2019-10",
                    "0.34"
                ],
                [
                    "2019-11",
                    "0.08"
                ],
                [
                    "2019-12",
                    "0.08"
                ],
                [
                    "2020-01",
                    "0.10"
                ],
                [
                    "2020-02",
                    "0.06"
                ],
                [
                    "2020-03",
                    "0.19"
                ],
                [
                    "2020-04",
                    "0.04"
                ],
                [
                    "2020-05",
                    "0.14"
                ],
                [
                    "2020-06",
                    "0.24"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "end",
                    "margin": 8
                },
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "dotted",
                    "color": "#CC0033"
                },
                "data": [
                    {
                        "yAxis": 1.0
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5357\u5218\u5e84",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2019-01",
                    "0.66"
                ],
                [
                    "2019-02",
                    "1.14"
                ],
                [
                    "2019-03",
                    "0.40"
                ],
                [
                    "2019-04",
                    "0.87"
                ],
                [
                    "2019-05",
                    "0.22"
                ],
                [
                    "2019-06",
                    "0.14"
                ],
                [
                    "2019-07",
                    "0.82"
                ],
                [
                    "2019-08",
                    "5.88"
                ],
                [
                    "2019-09",
                    "0.98"
                ],
                [
                    "2019-10",
                    "0.45"
                ],
                [
                    "2019-11",
                    "0.24"
                ],
                [
                    "2019-12",
                    "0.58"
                ],
                [
                    "2020-01",
                    "0.15"
                ],
                [
                    "2020-02",
                    "0.30"
                ],
                [
                    "2020-03",
                    "0.16"
                ],
                [
                    "2020-04",
                    "0.14"
                ],
                [
                    "2020-05",
                    "0.89"
                ],
                [
                    "2020-06",
                    "0.10"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "end",
                    "margin": 8
                },
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "dotted",
                    "color": "#CC0033"
                },
                "data": [
                    {
                        "yAxis": 1.0
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5708\u5934",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2019-01",
                    "0.07"
                ],
                [
                    "2019-02",
                    "0.08"
                ],
                [
                    "2019-03",
                    "0.07"
                ],
                [
                    "2019-04",
                    "0.07"
                ],
                [
                    "2019-05",
                    "0.05"
                ],
                [
                    "2019-06",
                    "0.09"
                ],
                [
                    "2019-07",
                    "0.10"
                ],
                [
                    "2019-08",
                    "0.13"
                ],
                [
                    "2019-09",
                    "0.05"
                ],
                [
                    "2019-10",
                    "0.41"
                ],
                [
                    "2019-11",
                    "0.09"
                ],
                [
                    "2019-12",
                    "0.05"
                ],
                [
                    "2020-01",
                    "0.17"
                ],
                [
                    "2020-02",
                    "0.10"
                ],
                [
                    "2020-03",
                    "0.08"
                ],
                [
                    "2020-04",
                    "0.04"
                ],
                [
                    "2020-05",
                    "0.02"
                ],
                [
                    "2020-06",
                    "0.05"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "end",
                    "margin": 8
                },
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "dotted",
                    "color": "#CC0033"
                },
                "data": [
                    {
                        "yAxis": 1.0
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u70e7\u8f66\u6dc0",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2019-01",
                    "1.61"
                ],
                [
                    "2019-02",
                    "0.30"
                ],
                [
                    "2019-03",
                    "0.05"
                ],
                [
                    "2019-04",
                    "0.52"
                ],
                [
                    "2019-05",
                    "0.08"
                ],
                [
                    "2019-06",
                    "0.09"
                ],
                [
                    "2019-07",
                    "0.21"
                ],
                [
                    "2019-08",
                    "0.10"
                ],
                [
                    "2019-09",
                    "0.15"
                ],
                [
                    "2019-10",
                    "0.06"
                ],
                [
                    "2019-11",
                    "0.06"
                ],
                [
                    "2019-12",
                    "0.05"
                ],
                [
                    "2020-01",
                    "0.07"
                ],
                [
                    "2020-02",
                    "0.04"
                ],
                [
                    "2020-03",
                    "0.18"
                ],
                [
                    "2020-04",
                    "0.05"
                ],
                [
                    "2020-05",
                    "0.22"
                ],
                [
                    "2020-06",
                    "0.09"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "end",
                    "margin": 8
                },
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "dotted",
                    "color": "#CC0033"
                },
                "data": [
                    {
                        "yAxis": 1.0
                    }
                ]
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u91c7\u84b2\u53f0",
                "\u5149\u6dc0\u5f20\u5e84",
                "\u5357\u5218\u5e84",
                "\u5708\u5934",
                "\u70e7\u8f66\u6dc0"
            ],
            "selected": {
                "\u91c7\u84b2\u53f0": true,
                "\u5149\u6dc0\u5f20\u5e84": true,
                "\u5357\u5218\u5e84": true,
                "\u5708\u5934": false,
                "\u70e7\u8f66\u6dc0": false
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "name": "\u65e5\u671f",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2019-01",
                "2019-02",
                "2019-03",
                "2019-04",
                "2019-05",
                "2019-06",
                "2019-07",
                "2019-08",
                "2019-09",
                "2019-10",
                "2019-11",
                "2019-12",
                "2020-01",
                "2020-02",
                "2020-03",
                "2020-04",
                "2020-05",
                "2020-06"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\u6c28\u6c2emg/L",
            "show": true,
            "scale": true,
            "nameLocation": "middle",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u76d1\u6d4b\u6570\u636e\u6c28\u6c2e\u542b\u91cf\u53d8\u5316\u56fe",
            "subtext": "\u624b\u5de5\u6570\u636e",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "vertical",
        "itemSize": 15,
        "itemGap": 10,
        "left": "90%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    }
};
        chart_a550d166179d4890a2a6172c1d76a776.setOption(option_a550d166179d4890a2a6172c1d76a776);
    </script>
</body>
</html>
