<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="872b131c5295482d9237c29b4e4c5d5c" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_872b131c5295482d9237c29b4e4c5d5c = echarts.init(
            document.getElementById('872b131c5295482d9237c29b4e4c5d5c'), 'white', {renderer: 'canvas'});
        var option_872b131c5295482d9237c29b4e4c5d5c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "parallel",
            "coordinateSystem": "parallel",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "name": "\u5173\u8054\u89c4\u5219",
            "data": [
                [
                    "\u9ad8\u9530\u9178\u76d0 \u2192 COD",
                    0.47,
                    0.95,
                    1.53,
                    0.16
                ],
                [
                    "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e \u2192 COD",
                    0.29,
                    0.96,
                    1.55,
                    0.1
                ],
                [
                    "\u603b\u78f7 \u2192 \u603b\u6c2e",
                    0.28,
                    0.93,
                    1.37,
                    0.07
                ]
            ],
            "smooth": false
        }
    ],
    "legend": [
        {
            "data": [
                "\u5173\u8054\u89c4\u5219"
            ],
            "selected": {
                "\u5173\u8054\u89c4\u5219": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "parallel": {
        "left": "5%",
        "right": "13%",
        "bottom": "10%",
        "top": "20%"
    },
    "parallelAxis": [
        {
            "dim": 0,
            "name": "\u5173\u8054\u89c4\u5219",
            "data": [
                "\u9ad8\u9530\u9178\u76d0 \u2192 COD",
                "\u9ad8\u9530\u9178\u76d0, \u603b\u6c2e \u2192 COD",
                "\u603b\u78f7 \u2192 \u603b\u6c2e"
            ],
            "type": "category",
            "scale": false
        },
        {
            "dim": 1,
            "name": "\u652f\u6301\u5ea6",
            "scale": true
        },
        {
            "dim": 2,
            "name": "\u7f6e\u4fe1\u5ea6",
            "scale": true
        },
        {
            "dim": 3,
            "name": "\u63d0\u5347\u5ea6",
            "scale": true
        },
        {
            "dim": 4,
            "name": "\u6760\u6746\u7387",
            "scale": true
        }
    ],
    "title": [
        {
            "text": "\u5173\u8054\u89c4\u5219\u5e73\u884c\u56fe",
            "subtext": "\u524d3\u9879\uff0cmin_support=0.2",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_872b131c5295482d9237c29b4e4c5d5c.setOption(option_872b131c5295482d9237c29b4e4c5d5c);
    </script>
</body>
</html>
